---
---

.home-more-info-button {
    font-size: 0.8rem;
}

h1{
    //font-weight: lighter;
}

h1 {
    color: #408dda!important;
    padding: 1rem 0;
}

h2{
    //font-weight: lighter;
}

h2 {
    color: #144a7f!important;
    padding: 1rem 0;
}

h5 {
    font-size: 1rem;
    margin-top: 8rem;
}

.fs-7 {
    font-size: 0.8rem;   
}

.straplineheading {
    h1{
        font-weight: normal;
    }
}

.color-blue-b {
    color: #408dda !important;
}

.color-blue {
    color: #144a7f !important;
}

.bg-green {
    //background: linear-gradient(to bottom, green, rgb(0, 62, 0));
    background: linear-gradient(to bottom, #49b3e2, #0b3f8f);
}

.bg-black {
    background: linear-gradient(to bottom, rgb(6, 40, 91), black);
}

.bg-lightblue {
    background: #66bccd;
}

.bg-logo {
    background: linear-gradient(to bottom, #fff, #bbb);
    //background: linear-gradient(to bottom, #68e3eb, #49bbe4, #408dda);
}

.bg-white {
    background-color: white;
}

.bg-image {
    background-size: cover;
}

.bg-image1 {
    //background-image: url(https://images.unsplash.com/photo-1623503519782-82594dfb1a17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80);
    background-color: #e9e9e9;
}

.bg-image2 {
    //background-image: url(https://images.unsplash.com/photo-1464823265838-c29e2a106ef6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
}

.bg-image3 {
    //background-image: url(https://images.unsplash.com/photo-1598940603846-a1edd0ef2574?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-color: #e9e9e9;
}

@media only screen and (max-width: 576px) {
    .carousel-inner.splash-lg {
        .carousel-bg {
            min-height: 600px;
            max-height: 600px;    
        }
    }

    .splash-md {
        img {
            min-height: 300px;
            max-height: 300px;    
        }
    }

    .straplineheading {
        h1 {
            font-size: 1em;

            span {
                font-size: 2em;
            }
        }
    }

    .brandingcontainer {
        .branding {
            //margin-left: 1rem;

            img {
                width: 7em;
            }
        }

        .nav-item{
            padding: 0 0.8em;
        }
    }


    .hscrollingcard {
        .card:first-of-type{
            margin-left: 1em;
        }

        .card-body {
            min-height: 200px;
            min-width: 200px;
            margin-right: 5px;
        }
    }

    .hscrollingcard-b {
        .card:first-of-type{
            margin-left: 1em;
        }

        .card {
            img,
            a {
                width: 22rem;
                height: 13rem;
                object-fit: cover;
            }
        }

        .card-body-b {
            min-height: 200px;
            min-width: 200px;
            margin-right: 5px;
        }
    }

    .smartbuttons {
        max-height: 200px;
        .card {
            height: 100%;
        }
    }
    
    .homesplash {
        .homesplashlink {
            h2 {
                font-size: 0.8em;
                //width: 120px;
            }

            h3 {
                font-size: 1em;
            }

            img {
                width: initial;
                max-height: 120px;
                text-align: right;
            }
        }
    }

    .proad {
        h1 {
            font-size: 1em;

            span {
                font-size: 2em;
            }
        }
    }

    .navspecialleft {
        margin-left: 0.8rem;
        margin-right: 0.2rem;
    }

    .navspecialright {
        margin-left: -0.2rem;
    }

    .rounded-pill-start {
        border-top-left-radius: 5rem;
        border-bottom-left-radius: 5rem;
    }

    .rounded-pill-end {
        border-top-right-radius: 5rem;
        border-bottom-right-radius: 5rem;
    }

    #homecarousel, #procarousel {
        .productimageparagraph {
            text-align: center;
        }

        .productimage {
            width: 7rem;
        }

        .productdetails {
            text-align: center!important;
        }

        .productdescription {
            display: none;
        }

        .productheading {
            line-height: 2rem!important;
        }
    }

    #procarousel {
        .productimage {
            width: 11rem!important;
        }
        .carousel-caption {
            bottom: 1.25rem!important;
        }
    }
    
}

@media only screen and (min-width: 577px) {
    
    .headernavbar {
        padding-left: 1rem;
    }
    
    .headernavbarpro {
        padding-right: 2rem;
    }

    .carousel-inner.splash-lg {
        .carousel-bg {
            min-height: 700px; //600px;
            max-height: 700px; //600px;    
        }
    }
    .splash-md {
        img {
            min-height: 300px;
            max-height: 300px;    
        }
    }

    .straplineheading {
        h1 {
            font-size: 1.5em;

            span {
                font-size: 2em;
            }
        }
    }

    .brandingcontainer {
        .branding {
            
            a {
                padding: 0 1em;
            }

            img {
                width: 11em;
            }
        }

        .nav-item{
            padding: 0.2rem 0em;
            font-size: 0.8rem;
        }
    }

    .hscrollingcard {
        .card:first-of-type{
            margin-left: 2em;
        }

        .card-body {
            min-height: 180px;
            min-width: 180px;
            margin-right: 5px;
            margin-left: 1rem;
        }
    }

    .hscrollingcard-b {
        .card:first-of-type{
            margin-left: 2em;
        }

        .card {
            img,
            a {
                width: 22rem;
                height: 13rem;
                object-fit: cover;
            }
        }

        .card-body-b {
            min-height: 180px;
            min-width: 180px;
            margin-right: 5px;
            margin-left: 1rem;
        }
    }

    .smartbuttons {
        max-height: 200px;
        .card {
            height: 100%;
        }
    }

    .homesplash {
        .homesplashlink {
            h2 {
                font-size: 1em;
                //width: 120px;
            }

            img {
                width: initial;
                max-height: 150px;
                text-align: right;
            }
        }
    }

    .proad {
        h1 {
            font-size: 1rem;

            span {
                font-size: 2em;
            }
        }
    }

    .rounded-pill-start {
        border-top-left-radius: 10rem;
        border-bottom-left-radius: 10rem;
    }

    .rounded-pill-end {
        border-top-right-radius: 10rem;
        border-bottom-right-radius: 10rem;
    }

    #homecarousel, #procarousel {
        .productimage {
            width: 10rem;
        }
    }

}

@media only screen and (min-width: 768px) {
    .carousel-inner.splash-lg {
        .carousel-bg {
            min-height: 700px; //600px;
            max-height: 700px; //600px;    
        }
    }
    .splash-md {
        img {
            min-height: 500px;
            max-height: 500px;    
        }
    }

    .straplineheading {
        h1 {
            font-size: 2em;

            span {
                font-size: 2em;
            }
        }
    }
    
    .brandingcontainer {
        .branding {

            a {
                padding: 0 2em;
            }

            img {
                width: 15em;
            }
        }

        .nav-item{
            padding: 0.2rem 0rem;
            font-size: 0.8rem;
        }
    }

    .hscrollingcard {
        .card:first-of-type{
            margin-left: 4em;
        }

        .card-body {
            min-height: 300px;
            min-width: 300px;
            margin-right: 5px;
            margin-left: 2rem;
        }
    }

    .hscrollingcard-b {
        .card:first-of-type{
            margin-left: 4em;
        }

        .card {
            img,
            a {
                width: 22rem;
                height: 13rem;
                object-fit: cover;
            }
        }

        .card-body-b {
            min-height: 300px;
            min-width: 300px;
            margin-right: 5px;
            margin-left: 2rem;
        }
    }

    .smartbuttons {
        max-height: 200px;
        .card {
            height: 100%;
        }
    }

    .homesplash {
        .homesplashlink {
            h2 {
                font-size: 1.5em;
                //width: 120px;
            }

            img {
                width: initial;
                max-height: 200px;
                text-align: right;
            }
        }
    }

    .proad {
        h1 {
            font-size: 1rem;

            span {
                font-size: 2em;
            }
        }
    }

    .rounded-pill-start {
        border-top-left-radius: 15rem;
        border-bottom-left-radius: 15rem;
    }

    .rounded-pill-end {
        border-top-right-radius: 15rem;
        border-bottom-right-radius: 15rem;
    }
}

.maintopnav {
    background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));


    .nav-link {
        color: white;
    }
}

.maintopnav:hover,
html:not([data-scroll='0']) .maintopnav {
    background: white; /*linear-gradient(to bottom, rgba(255, 255, 255,1), rgba(250, 250, 250,1));*/
    box-shadow: 0px -1px 0px #999 inset;

    .nav-link {
        color: black;
    }

    .nav-link:hover {
        box-shadow: 0px -3px 0px rgb(23, 174, 0) inset;
    }
}

.brandingcontainer {
    height: 2.7em;
}

.carousel-inner {
    .carousel-bg {
        object-fit: cover;
    }
}

.splash-md {
    img {
        object-fit: cover;
    }
}

.straplineheading {
    h1 {
        span {
            display: block;
            font-weight: lighter;
        }    
    }
}

.proad {
    //background-image: url(https://images.unsplash.com/photo-1423530990185-af7dde1155fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2000&q=80);
    background: linear-gradient(45deg, #333, black);

    h1 {
        span {
            display: block;
            font-weight: lighter;
        }    
    }
}

.smartbuttons {

    .card {
        padding: 0;

        img,
        a {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .card-title {
            position: absolute;
            bottom: 0;
            
        }

        .card-img-overlay {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        }
    }
}

.hscrollingcard {
    overflow: scroll;    

    .card {
        padding: 0;

        img,
        a {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .card-title {
            position: absolute;
            bottom: 0;
            
        }

        .card-img-overlay {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        }
    }
}

.hscrollingcard-b {
    overflow: scroll;
    padding-bottom: 5rem!important;

    .card {
        
        img{
            border-radius: 0rem 2rem 0rem 2rem;
        }
    }

    .card-b {
        padding: 0;

        img,
        a {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .card-title-b {
            position: absolute;
            bottom: 0;
            
        }

        .card-img-overlay {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        }
    }
}

.vcardcontainer {
    
}

.footer {
    .footerlogo img {
        width: 6em;
    }
    
    .fa {
        color: #333;
        text-decoration: none;
        padding: 0.3em;
        background-color: white;
        border-radius: 1em;
        width: 1.5em;
        text-align: center;
        opacity: 50%;
    }

    .fa:hover {
        opacity: 100%;
    }
}

.categoryindextabs {
    a {
        border-left: 1px solid #ffffff63;
        border-top: 1px solid #ffffff63;
        border-right: 1px solid #00000063;
        border-bottom: 1px solid #00000063;
    }
}

.categoryindexbuttons {
    a {
        display: block;

        img {
            max-height: 200px;
            min-width: 100%;
            object-fit: scale-down;
            max-width: 100%;
            min-height: 200px;
        }    
    }

    a:hover {
        box-shadow: 0px 0px 20px #ccc;
    }
}

.subcardssections {
    img {
        max-height: 200px;
        min-width: 100%;
        object-fit: cover;
        max-width: 100%;
        min-height: 200px;
    }
}

.subcardssectionsscaledown {
    img {
        max-height: 200px;
        min-width: 100%;
        object-fit: scale-down;
        max-width: 100%;
        min-height: 200px;
        padding: 1rem;
    }
}

.productdetailspage {
    .productdetailspageimage {
        img {
            max-height: 300px;
            min-width: 100%;
            object-fit: scale-down;
            max-width: 100%;
            min-height: 300px;
            padding: 1rem;
        }
    }
}

.homebuttonspro {
    .buttongradient {
        background: linear-gradient(45deg, #ccc, transparent);
        min-height: 21rem;
        height: 100%;
        border: none!important;
    }

    h4 a {
        text-decoration: none!important;
        color: #000!important;
    }
}

.card{
    border: none;
}

.underline-offset {
    text-underline-offset: 1.2rem;
}

.product-category-menu {
    border: 0.3rem solid white;
    border-radius: 0.5rem;
}

#homecarousel, #procarousel {
    .carousel-inner {
        background: #252525;
    }

    .carousel-caption {
        text-align: right;
        bottom: 7.25rem; //5.25rem;
    }

    .carousel-bg {
        //filter: blur(0.5rem);
    }

    .productdetails {
        text-align: left;
    }

    .productheading {
        margin: auto;
        text-transform: uppercase;
        font-weight: bold;
        //font-size: 2rem;
        line-height: 2.8rem;
        text-shadow: 1px 1px 10px #000;
    }

    .productdescription {
        text-shadow: 1px 1px 10px #000;        
    }
}
