---
---

.home-more-info-button {
    font-size: 0.8rem;
}

h1{
    //font-weight: lighter;
}

h1.text-primary {
    color: #408dda!important;
}

h2{
    //font-weight: lighter;
}

h2.text-secondary {
    color: #144a7f!important;
}

h5 {
    font-size: 1rem;
    margin-top: 8rem;
}

.fs-7 {
    font-size: 0.8rem;   
}

.straplineheading {
    h1{
        font-weight: normal;
    }
}

.bg-green {
    background: linear-gradient(to bottom, green, rgb(0, 62, 0));
}

.bg-black {
    background: linear-gradient(to bottom, rgb(6, 40, 91), black);
}

.bg-lightblue {
    background: #66bccd;
}

.bg-logo {
    background: linear-gradient(to bottom, #fff, #bbb);
    //background: linear-gradient(to bottom, #68e3eb, #49bbe4, #408dda);
}

.bg-white {
    background-color: white;
}

.bg-image {
    background-size: cover;
}

.bg-image1 {
    background-image: url(https://images.unsplash.com/photo-1623503519782-82594dfb1a17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80);
}

.bg-image2 {
    background-image: url(https://images.unsplash.com/photo-1464823265838-c29e2a106ef6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
}

.bg-image3 {
    background-image: url(https://images.unsplash.com/photo-1598940603846-a1edd0ef2574?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
}

@media only screen and (max-width: 576px) {
    .carousel-inner.splash-lg {
        img {
            min-height: 300px;
            max-height: 300px;    
        }
    }

    .splash-md {
        img {
            min-height: 300px;
            max-height: 300px;    
        }
    }

    .straplineheading {
        h1 {
            font-size: 1em;

            span {
                font-size: 2em;
            }
        }
    }

    .brandingcontainer {
        .branding {
            //margin-left: 1rem;

            img {
                width: 7em;
            }
        }

        .nav-item{
            padding: 0 0.8em;
        }
    }


    .hscrollingcard {
        .card:first-of-type{
            margin-left: 1em;
        }

        .card-body {
            min-height: 200px;
            min-width: 200px;
            margin-right: 5px;
        }
    }

    .smartbuttons {
        max-height: 200px;
        .card {
            height: 100%;
        }
    }
    
    .homesplash {
        .homesplashlink {
            h2 {
                font-size: 0.8em;
                //width: 120px;
            }

            h3 {
                font-size: 1em;
            }

            img {
                width: initial;
                max-height: 120px;
                text-align: right;
            }
        }
    }

    .proad {
        h1 {
            font-size: 1em;

            span {
                font-size: 2em;
            }
        }
    }

    .navspecialleft {
        margin-left: 0.8rem;
        margin-right: 0.2rem;
    }

    .navspecialright {
        margin-left: -0.2rem;
    }

    .rounded-pill-start {
        border-top-left-radius: 5rem;
        border-bottom-left-radius: 5rem;
    }

    .rounded-pill-end {
        border-top-right-radius: 5rem;
        border-bottom-right-radius: 5rem;
    }
}

@media only screen and (min-width: 577px) {
    .carousel-inner.splash-lg {
        img {
            min-height: 300px;
            max-height: 300px;    
        }
    }
    .splash-md {
        img {
            min-height: 300px;
            max-height: 300px;    
        }
    }

    .straplineheading {
        h1 {
            font-size: 1.5em;

            span {
                font-size: 2em;
            }
        }
    }

    .brandingcontainer {
        .branding {
            
            a {
                padding: 0 1em;
            }

            img {
                width: 11em;
            }
        }

        .nav-item{
            padding: 0.2rem 0em;
            font-size: 0.8rem;
        }
    }

    .hscrollingcard {
        .card:first-of-type{
            margin-left: 2em;
        }

        .card-body {
            min-height: 180px;
            min-width: 180px;
            margin-right: 5px;
            margin-left: 1rem;
        }
    }

    .smartbuttons {
        max-height: 200px;
        .card {
            height: 100%;
        }
    }

    .homesplash {
        .homesplashlink {
            h2 {
                font-size: 1em;
                //width: 120px;
            }

            img {
                width: initial;
                max-height: 150px;
                text-align: right;
            }
        }
    }

    .proad {
        h1 {
            font-size: 1rem;

            span {
                font-size: 2em;
            }
        }
    }

    .rounded-pill-start {
        border-top-left-radius: 10rem;
        border-bottom-left-radius: 10rem;
    }

    .rounded-pill-end {
        border-top-right-radius: 10rem;
        border-bottom-right-radius: 10rem;
    }

}

@media only screen and (min-width: 768px) {
    .carousel-inner.splash-lg {
        img {
            min-height: 500px;
            max-height: 500px;    
        }
    }
    .splash-md {
        img {
            min-height: 500px;
            max-height: 500px;    
        }
    }

    .straplineheading {
        h1 {
            font-size: 2em;

            span {
                font-size: 2em;
            }
        }
    }
    
    .brandingcontainer {
        .branding {

            a {
                padding: 0 2em;
            }

            img {
                width: 15em;
            }
        }

        .nav-item{
            padding: 0.2rem 0rem;
            font-size: 0.8rem;
        }
    }

    .hscrollingcard {
        .card:first-of-type{
            margin-left: 4em;
        }

        .card-body {
            min-height: 300px;
            min-width: 300px;
            margin-right: 5px;
            margin-left: 2rem;
        }
    }

    .smartbuttons {
        max-height: 200px;
        .card {
            height: 100%;
        }
    }

    .homesplash {
        .homesplashlink {
            h2 {
                font-size: 1.5em;
                //width: 120px;
            }

            img {
                width: initial;
                max-height: 200px;
                text-align: right;
            }
        }
    }

    .proad {
        h1 {
            font-size: 1rem;

            span {
                font-size: 2em;
            }
        }
    }

    .rounded-pill-start {
        border-top-left-radius: 15rem;
        border-bottom-left-radius: 15rem;
    }

    .rounded-pill-end {
        border-top-right-radius: 15rem;
        border-bottom-right-radius: 15rem;
    }
}

.maintopnav {
    background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));


    .nav-link {
        color: white;
    }
}

.maintopnav:hover,
html:not([data-scroll='0']) .maintopnav {
    background: white; /*linear-gradient(to bottom, rgba(255, 255, 255,1), rgba(250, 250, 250,1));*/
    box-shadow: 0px -1px 0px #999 inset;

    .nav-link {
        color: black;
    }

    .nav-link:hover {
        box-shadow: 0px -3px 0px rgb(23, 174, 0) inset;
    }
}

.brandingcontainer {
    height: 2.7em;
}

.carousel-inner {
    img {
        object-fit: cover;
    }
}

.splash-md {
    img {
        object-fit: cover;
    }
}

.straplineheading {
    h1 {
        span {
            display: block;
            font-weight: lighter;
        }    
    }
}

.proad {
    //background-image: url(https://images.unsplash.com/photo-1423530990185-af7dde1155fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2000&q=80);
    background: linear-gradient(45deg, #333, black);

    h1 {
        span {
            display: block;
            font-weight: lighter;
        }    
    }
}

.smartbuttons {

    .card {
        padding: 0;

        img,
        a {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .card-title {
            position: absolute;
            bottom: 0;
            
        }

        .card-img-overlay {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        }
    }
}

.hscrollingcard {
    overflow: scroll;    

    .card {
        padding: 0;

        img,
        a {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .card-title {
            position: absolute;
            bottom: 0;
            
        }

        .card-img-overlay {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        }
    }
}

.vcardcontainer {
    
}

.footer {
    .footerlogo img {
        width: 6em;
    }
    
    .fa {
        color: #333;
        text-decoration: none;
        padding: 0.3em;
        background-color: gray;
        border-radius: 1em;
        width: 1.5em;
        text-align: center;
    }

    .fa:hover {
        background-color: white;
    }
}

.categoryindextabs {
    a {
        border-left: 1px solid #ffffff63;
        border-top: 1px solid #ffffff63;
        border-right: 1px solid #00000063;
        border-bottom: 1px solid #00000063;
    }
}

.categoryindexbuttons {
    a {
        display: block;

        img {
            max-height: 200px;
            min-width: 100%;
            object-fit: scale-down;
            max-width: 100%;
            min-height: 200px;
        }    
    }

    a:hover {
        box-shadow: 0px 0px 20px #ccc;
    }
}

.subcardssections {
    img {
        max-height: 200px;
        min-width: 100%;
        object-fit: cover;
        max-width: 100%;
        min-height: 200px;
    }
}

.subcardssectionsscaledown {
    img {
        max-height: 200px;
        min-width: 100%;
        object-fit: scale-down;
        max-width: 100%;
        min-height: 200px;
        padding: 1rem;
    }
}

.productdetailspage {
    .productdetailspageimage {
        img {
            max-height: 300px;
            min-width: 100%;
            object-fit: scale-down;
            max-width: 100%;
            min-height: 300px;
            padding: 1rem;
        }
    }
}

.homebuttonspro {
    .buttongradient {
        background: linear-gradient(45deg, #999, transparent);
        min-height: 21rem;
        height: 100%;
    }
}