<div class="container-fluid text-center d-none d-sm-block py-3" style="margin-top: -2rem;">
  <div class="btn-group">
    {% assign sorted_pages = site.pages | where:"type", "homecare" | sort: "sort" %}
    {% for p in sorted_pages %}
    <a href="{{ site.baseurl }}{{ p.url }}" class="fs-6 px-sm-4 btn btn-primary {% if p.url == page.url %}active{% endif %}">{{p.title}}</a>
    {% endfor %}
  </div>
</div>


<div class="container d-block d-sm-none py-3 text-center"  style="margin-top: -2rem;">
  <div class="btn-group col-6">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      {{page.title}}
    </button>
    <ul class="dropdown-menu">
      {% assign sorted_pages = site.pages | where:"type", "homecare" | sort: "sort" %}
      {% for p in sorted_pages %}
      <li><a class="dropdown-item" href="{{ site.baseurl }}{{ p.url }}">{{p.title}}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
