---
layout: root
headerspecial: gradient
---
<div class="container-fluid g-0 splash-md">
  <img src="{{page.thumbnail}}" class="d-block w-100" alt="...">
</div>

<div class="container p-5 centeredcontent justify-content-center">
  {% if page.breadcrumbs != false %}
  {% include breadcrumbs.html %}
  {% endif %}

  {{content}}

  

<div class="row categoryindexbuttons">
  {% assign sorted_applications = site.pages | where:"type", "Products" | sort: "sort" %}
  {% for p in sorted_applications %}
  {% if p.application contains page.title %}
  <div class="col-12 col-sm-6 col-lg-4">
    <a class="text-decoration-none fw-bold text-dark p-3" href="{{ site.baseurl }}{{ p.url }}">
      <div class="p-0 col-12 text-center">
        <img src="{{p.thumbnail}}" />
      </div>
      <div class="pt-3 pb-3 col-12 text-center">
        {{p.title}}
      </div>
    </a>
  </div>
  {% endif %}
  {% endfor %}
</div>


</div>
