---
layout: root
---
<div class="container-fluid g-0">
    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-pause="none">
        <div class="carousel-inner splash-lg">
          <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1628676306092-1238ef1dc851?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1556909115-3f381036bcb3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1502086223501-7ea6ecd79368?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1738&q=80" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
</div>
<div class="container-fluid g-0 bg-light pt-5 pb-0">
    <div class="container text-dark text-center straplineheading">
        <h1>Powerful. Non-Toxic. Vegan. <span>Antiseptic Sanitiser</span></h1>
    </div>

    <div class="container homesplash px-lg-5">
        <div class="row mt-5 mx-3 mx-sm-5 mx-md-5 mx-lg-5">
            {% assign sorted_applications = site.pages | where:"type", "homesplash" | sort: "sort" %}
            {% for p in sorted_applications %}
                <div class="col-6 bg-white py-3 py-lg-5 shadow-lg">
                    <a href="{{ site.baseurl }}{{ p.url }}" class="homesplashlink text-decoration-none text-dark row">
                        <div class="col-12 text-center">
                            <h2 class="fw-light">Products</h2>
                            <h3 class="text-nowrap">{{p.title}}</h3>
                        </div>
                        <div class="col-12 text-center">
                            <img src="{{ site.baseurl }}{{p.homesplashthumbnail}}" alt="{{p.title}}"/>
                        </div>
                        <div class="col-12 text-center px-sm-5">
                            <div class="col-12 px-sm-3 px-md-5">
                                <span class="btn btn-primary mt-3 col-12" role="button">More Info</span>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col pt-5 pb-3" style="background-image: radial-gradient(rgba(0, 0, 0, 0.41), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-1 py-sm-3 py-md-5 g-0 bg-lightblue">
    <h2 class="fw-lighter p-3 p-sm-3 p-md-3 mx-sm-3 mx-md-5 text-light">Applications</h2>
    <div class="d-flex flex-row flex-nowrap hscrollingcard pb-5 pb-sm-3 pb-md-5">
        {% assign sorted_applications = site.pages | where:"type", "applications" | sort: "sort" %}
        {% for p in sorted_applications %}
            <div class="card card-body bg-dark">
                <a href="{{ site.baseurl }}{{ p.url }}" class="text-light">
                    <img src="{{ p.thumbnail }}" class="card-img" alt="...">
                    <div class="card-img-overlay"><h5 class="card-title fs-5">{{p.title}}</h5></div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

<div class="container-fluid bg-light pb-1 pt-sm-3 pb-sm-5">
    <div class="container py-1 py-sm-3 g-0 text-center vcardcontainer">
        <h2 class="fw-lighter p-3 p-sm-3 mx-sm-3">Certified Effectiveness</h2>
        <div class="row pt-sm-3 px-3 px-sm-5">
            {% assign sorted_applications = site.pages | where:"type", "effectiveness" | sort: "sort" %}
            {% for p in sorted_applications limit: 4 %}
                <div class="col-6 col-sm-6 col-lg-3 mb-3 smartbuttons">
                    <div class="card card-body bg-dark">
                        <a href="{{ site.baseurl }}{{ p.url }}" class="text-light">
                            <img src="{{ p.thumbnail }}" class="card-img" alt="...">
                            <div class="card-img-overlay"><h5 class="card-title fs-5">{{p.title}}</h5></div>
                        </a>
                    </div>
                </div>                
            {% endfor %}
        </div>   
    </div>

</div>

<div class="container-fluid proad">
    <div class="container py-5 p-sm-5">
        <div class="row">
            <div class="col-12 col-sm-8 col-lg-10">
                <div class="text-light">
                    <h1><span>AntiSeptix <strong>PRO</strong></span> Industrial. Commercial. Professional.</h1>
                </div>
                <div class="d-block d-sm-none p-5">
                    <img src="{{ site.baseurl }}/images/prohomeimg.png" class="card-img" alt="...">
                </div>
                <a class="btn btn-primary mt-3 mb-1 col-12 col-md-4" role="button">More Info</a>            
            </div>
            <div class="col-12 col-sm-4 col-lg-2 d-none d-sm-block">
                <img src="{{ site.baseurl }}/images/prohomeimg.png" class="card-img" alt="...">
            </div>
        </div>
    </div>
</div>


{{content}}

