---
layout: root
headerspecial: gradient
---
<div class="container-fluid g-0">
    <div id="homecarousel" class="carousel slide" data-bs-ride="carousel" data-bs-pause="none">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 2"></button>
          </div>
        <div class="carousel-inner splash-lg">
          <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1663237803706-b09171da346e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="carousel-bg d-block w-100" alt="...">
            <div class="carousel-caption">
                <div class="row">
                    <div class="col-12 col-md-6">                       
                        <p class="productimageparagraph"><img class="productimage" src="/antiseptix.github.io/images/products/testproduct.png"></p>
                    </div>
                    <div class="productdetails col-12 col-md-6 m-md-auto">                       
                        <p class="productheading fs-1">Multi-Surface Disinfectant</p>
                        <p class="productdescription mt-2">To keep your family safe at home in every room with a complete peace of mind around</p>
                        <a href="{{ site.baseurl }}/pro/" class="productbutton btn btn-outline-light my-3 my-md-1 px-4" role="button">More Info</a>
                    </div>
                </div>
            </div>  
          </div>
          <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1533563906091-fdfdffc3e3c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="carousel-bg d-block w-100" alt="...">
            <!--<img src="https://images.unsplash.com/photo-1515516089376-88db1e26e9c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" class="carousel-bg d-block w-100" alt="...">-->
            <div class="carousel-caption">
                <div class="row">
                    <div class="col-12 col-md-6">                       
                        <p class="productimageparagraph"><img class="productimage" src="/antiseptix.github.io/images/products/testproduct.png"></p>
                    </div>
                    <div class="productdetails col-12 col-md-6 m-md-auto">                       
                        <p class="productheading fs-1">Multi-Surface Disinfectant</p>
                        <p class="productdescription mt-2">To keep your family safe at home in every room with a complete peace of mind around</p>
                        <a href="{{ site.baseurl }}/pro/" class="productbutton btn btn-outline-light my-3 my-md-1 px-4" role="button">More Info</a>
                    </div>
                </div>
            </div>  
          </div>
          <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1558020931-e3d4ec8b1525?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="carousel-bg d-block w-100" alt="...">
            <!--<img src="https://images.unsplash.com/photo-1515516089376-88db1e26e9c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" class="carousel-bg d-block w-100" alt="...">-->
            <div class="carousel-caption">
                <div class="row">
                    <div class="col-12 col-md-6">                       
                        <p class="productimageparagraph"><img class="productimage" src="/antiseptix.github.io/images/products/testproduct.png"></p>
                    </div>
                    <div class="productdetails col-12 col-md-6 m-md-auto">                       
                        <p class="productheading fs-1">Multi-Surface Disinfectant</p>
                        <p class="productdescription mt-2">To keep your family safe at home in every room with a complete peace of mind around</p>
                        <a href="{{ site.baseurl }}/pro/" class="productbutton btn btn-outline-light my-3 my-md-1 px-4" role="button">More Info</a>
                    </div>
                </div>
            </div>  
          </div>
          <!--<div class="carousel-item">
            <img src="/antiseptix.github.io/images/splash/1.jpeg" class="carousel-bg d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
              </div>  
            </div>
          <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1556909115-3f381036bcb3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" class="carousel-bg d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
              </div>  
            </div>
          <div class="carousel-item">
            <img src="/antiseptix.github.io/images/splash/2.jpeg" class="carousel-bg d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
              </div>  
            </div>
          <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1502086223501-7ea6ecd79368?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1738&q=80" class="carousel-bg d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
              </div>  
            </div>
          <div class="carousel-item">
            <img src="/antiseptix.github.io/images/splash/3.jpeg" class="carousel-bg d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
              </div>  
            </div>-->
        </div>
      </div>
</div>
<div class="container-fluid g-0 bg-light pt-3 pb-0">
    <div class="container text-center straplineheading">
        <h1 class="color-blue">Powerful. Non-Toxic. Natural. <span class="color-blue-b">Antiseptic <strong>Sanitiser</strong></span></h1>
    </div>

    <div class="container homesplash px-lg-5">
        <div class="row mt-3 mx-3 mx-sm-5 mx-md-5 mx-lg-5">
            {% assign sorted_applications = site.pages | where:"type", "homesplash" | sort: "sort" %}
            {% for p in sorted_applications %}
                <div class="col-6 bg-white py-3 py-lg-5 shadow-lg">
                    <a href="{{ site.baseurl }}{{ p.url }}" class="homesplashlink text-decoration-none text-dark row">
                        <div class="col-12 text-center">
                            <h2 class="fw-bolder pt-0">{{p.title}} <br><span class="fw-normal">Products</span></h2>
                        </div>
                        <div class="col-12 text-center">
                            <img src="{{ site.baseurl }}{{p.homesplashthumbnail}}" alt="{{p.title}}"/>
                        </div>
                        <div class="col-12 text-center px-sm-5">
                            <div class="col-12 px-sm-3 px-md-5">
                                <span class="btn btn-light mt-3 col-12 home-more-info-button" role="button">More Info</span>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col pt-5 pb-3" style="background-image: radial-gradient(rgba(0, 0, 0, 0.41), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));">
            </div>
        </div>
    </div>
</div>
<!--<div class="container-fluid py-1 py-sm-3 py-md-5 g-0 bg-logo">
    <div class="container p-5 centeredcontent justify-content-center">
        {{content}}
      </div>
      
</div>-->
<div class="container-fluid py-1 pt-sm-3 pt-md-5 g-0">
    <h2 class="fw-lighter p-3 p-sm-3 p-md-3 mx-sm-3 mx-md-5  mb-5 fs-1">Learn <strong><u class="underline-offset">Health</u></strong></h2>
    <div class="d-flex flex-row flex-nowrap hscrollingcard-b pb-5 pb-sm-3 pb-md-5">
        {% assign sorted_applications = site.pages | where:"type", "why-antiseptix" | sort: "sort" %}
        {% for p in sorted_applications %}
            <div class="col-12 col-sm-6 col-md-4 py-3">
                <div class="card">
                    <a href="{{ site.baseurl }}{{ p.url }}" class="text-decoration-none text-dark">
                        <img src="{{ p.thumbnail }}" class="card-img-top" alt="...">
                        <div class="text-center">
                            <p class="card-title fw-bold">{{p.title}}</p>
                            <p class="card-text fw-normal">{{p.subtitle}}</p>
                        </div>
                    </a>
                  </div>
        </div>
        {% endfor %}
    </div>
</div>

<!--<div class="container-fluid py-1 py-sm-3 py-md-5 g-0">
    <h2 class="fw-lighter p-3 p-sm-3 p-md-3 mx-sm-3 mx-md-5  mb-5 fs-1">Learn <strong><u class="underline-offset">Health</u></strong></h2>
    <div class="d-flex flex-row flex-nowrap hscrollingcard-b pb-5 pb-sm-3 pb-md-5">
        {% assign sorted_applications = site.pages | where:"type", "why-antiseptix" | sort: "sort" %}
        {% for p in sorted_applications %}
            <div class="card bg-dark">
                <a href="{{ site.baseurl }}{{ p.url }}" class="text-light">
                    <img src="{{ p.thumbnail }}" class="card-img" alt="...">
                    <div class="card-body text-center">
                        <p class="card-title fw-bold">{{p.title}}</p>
                        <p class="card-text fw-normal">{{p.subtitle}}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

<div class="container py-1 py-sm-3 py-md-5 g-0 subcardssections">
    <h2 class="fw-lighter p-3 p-sm-3 p-md-3 mx-sm-3 mx-md-0 mb-5 fs-1">Learn <strong><u class="underline-offset">Health</u></strong></h2>
    <div class="row">
        {% assign sorted_applications = site.pages | where:"type", "why-antiseptix" | sort: "sort" %}
        {% for p in sorted_applications %}
            <div class="col-12 col-sm-6 col-md-4 py-3">
                <div class="card">
                    <a href="{{ site.baseurl }}{{ p.url }}" class="text-decoration-none text-dark">
                        <img src="{{ p.thumbnail }}" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <p class="card-title fw-bold">{{p.title}}</p>
                            <p class="card-text fw-normal">{{p.subtitle}}</p>
                        </div>
                    </a>
                  </div>
        </div>
        {% endfor %}
    </div>
</div>-->

<div class="container-fluid py-1 py-sm-3 py-md-5 g-0 bg-logo">
    <h2 class="fw-lighter p-3 p-sm-3 p-md-3 mx-sm-3 mx-md-5">Applications</h2>
    <div class="d-flex flex-row flex-nowrap hscrollingcard pb-5 pb-sm-3 pb-md-5">
        {% assign sorted_applications = site.pages | where:"type", "applications" | sort: "sort" %}
        {% for p in sorted_applications %}
            <div class="card card-body bg-dark">
                <a href="{{ site.baseurl }}{{ p.url }}" class="text-light">
                    <img src="{{ p.thumbnail }}" class="card-img" alt="...">
                    <div class="card-img-overlay"><h5 class="card-title fs-5">{{p.title}}</h5></div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

<div class="container-fluid bg-light pb-1 pt-sm-3 pb-sm-5">
    <div class="container py-1 py-sm-3 g-0 text-center vcardcontainer">
        <h2 class="fw-lighter p-3 p-sm-3 mx-sm-3">Infection Control</h2>
        <div class="row pt-sm-3 px-3 px-sm-5">
            {% assign sorted_applications = site.pages | where:"type", "infection-control" | sort: "sort" %}
            {% for p in sorted_applications limit: 4 %}
                <div class="col-6 col-sm-6 col-lg-3 mb-3 smartbuttons">
                    <div class="card card-body bg-dark">
                        <a href="{{ site.baseurl }}{{ p.url }}" class="text-light">
                            <img src="{{ p.thumbnail }}" class="card-img" alt="...">
                            <div class="card-img-overlay"><h5 class="card-title fs-5">{{p.title}}</h5></div>
                        </a>
                    </div>
                </div>                
            {% endfor %}
        </div>   
    </div>

</div>
